<% @rounds.each do |round| %>
  <strong><p><%= round.name %></p></strong>
  <table class="table table-striped">
    <tr>
      <th>Team</th>
      <th>Win?</th>
      <th>Loss?</th>
    <% round.teams_in_round.includes(:team_round_results).sort.each do |team| %>
      <tr>
        <td>
          <p>(<%= team.seed %>) <%= team.name %></p>
        </td>

        <%= render 'toggle_win_loss', team: team, round: round %>

      </tr>
    <% end %>
  </table>
<% end %>
