<!-- Process scoreboard query into array with subarrs for each user's results -->

<% # get all the usernames
  teams = []
    scoreboard.each do |row|
    teams << row["team_name"] + "##" + row["id"]
  end
  teams = teams.uniq.sort
 %>

<%  results_arr = [] %>
<%  teams.each do |team|
      team_results = [team]
      %w(1 2 3 4 5 6).each do |round|
        matched_row =
          scoreboard
          .find {|row| row["team_name"] == team && row["round_id"] == round}

        points = matched_row ? matched_row["points"].to_i : 0
        team_results << points
      end

      team_results << team_results[1..-1].inject(:+)
      results_arr << team_results
    end

  results_arr.sort_by! {|result| result[-1] * -1}
%>

<% results_arr.each do |row| %>
  <tr>
  <% row.each_with_index do |entry, idx| %>
    <td>
    <% if idx == 0 %>
      <% team_name = entry.split("##")[0]
         user_id = entry.split("##")[1] %>
      <%= link_to team_name, user_url(user_id) %>
    <% else %>
      <%= entry %>
    <% end %>
    </td>
  <% end %>
  </tr>
<% end %>

</table>


