
  <table class="table table-striped">
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
      <% @users.each do |user| %>
        <tr>
          <td><strong><%= link_to user.team_name, user_url(user) %></strong>
              (<%= user.name %>)</td>
          <td><%= user.score %></td>
        </tr>
      <% end %>
    </table>
