<table class="table table-striped">
  <tr>
    <th>
    </th>
    <% Round.all.sort.each do |round| %>
      <th>
        <%= round.name %>
      </th>
    <% end %>
    <th>
      Total
    </th>
  </tr>

  <%= render 'scoreboard_row', scoreboard: @scoreboard, rounds: @rounds %>
</table>
