<table class="table table-striped">
  <tr>
    <th>
    </th>
    <% Round.where("picks_end < ?", DateTime.now).each do |round| %>
    <th>
      <%= round.name %>
    </th>
    <% end %>
    <th>
      Total
    </th>
  </tr>
  <% @scoreboard.each do |score| %>
    <%= score %>
  <% end %>

  <%#= render 'scoreboard_row', scoreboard: @scoreboard %>
</table>
