<h1>Games</h1>

<h2>Add New Game</h2>
<%= render 'form' %>

<h2>All Games</h2>
<% @rounds.each do |round| %>
  <h3><%= round.name %></strong> </h3>
  <% round.games.sort_by { |game| game.region }.each do |game| %>
    <%= render game %>
  <% end %>
<% end %>


